a {
    text-decoration: none;
    color: #ffd54d;
}
a:active, a:hover {
    text-decoration: underline;
}
#Breadcrumbs {
    display: inline-block;
    float: left;
    width: 400px;
    max-width: 100%;
    overflow: hidden;
    padding: 0 15px;
    white-space: nowrap;
}

ul.B_crumbBox {
    list-style: none;
    padding-left: 0;
    margin: 5px 0 0;
}
.B_crumbBox li {
    display: inline-block;
    float: left;
    margin-right: 7px;
}
.B_crumbBox li a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 26px;
}
.top-red {
    background: #393d4c;
    overflow: hidden;
}
.logo-red {
    float: left;
    margin-right: 25px;
    display: inline-block;
}
.img-left img {
    max-width: 100%;
    height: auto;
}
.sisea-search-form {
    height: 44px;
    position: relative;
    margin-bottom: 0;
    margin-top: 3px;
    width: 290px;
}
.sisea-search-form button {
    position: absolute;
    right: 15px;
    height: 30px;
    top: 0;
    line-height: 44px;
    background: transparent;
    border: 0;
    color: #fff;
    outline: none;
    font-size: 18px;
    float: right;
}
#search {
    font-size: 14px;
    color: #fff;
    font-weight: 300;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 30px;
    height: 40px;
    width: 290px;
    outline: none;
    padding: 0 30px;
    box-sizing: border-box;
    line-height: 41px;
}
.onmain {
    float: right;
    margin-top: 0;
    margin-left: 50px;
}
.onmain a {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
}
.onmain .language {
    margin-right: 30px;
    line-height: 40px;
}
.onmain .language a {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
}
.onmain .language a:hover {
    text-decoration: none;
    outline:none;
    color: #ffd54d;
}
.onmain .phone a {
    color: #fff;
    text-decoration: none;
    display: block;
    height: 40px;
    width: 40px;
    line-height: 38px;
}
.onmain .phone {
    margin-right: 30px;
    margin-top: 3px;
}
.toggle {
    margin: 0;
    padding: 0;
    cursor: pointer;
    z-index: 102;
    position: relative;
    float: right;
    margin-top: 10px;
}
.toggle > div {
    height: 28px;
    width: 35px;
    cursor: pointer;
}
.toggle > div > div {
    width: 100%;
    height: 2px;
    margin: 0 0 .43em 0;
    background-color: #fff;
    transition-duration: .3s;
    transition-delay: 0s, 0s, 0s, 0s;
}
.toggle > div > div:nth-child(3) {
    width: 100%;
    float: right;
    margin-bottom: 0;
}
.toggle:hover > div > div:nth-child(3) {
    width: 100%;
}

.toggle.open > div > div:nth-child(1) {
    -webkit-transform: translateY(12px) rotate(45deg);
    -ms-transform: translateY(12px) rotate(45deg);
    transform: translateY(12px) rotate(45deg);
}

.toggle.open > div > div:nth-child(2) {
    opacity: 0;
}

.toggle.open > div > div:nth-child(3) {
    width: 100%;
    -webkit-transform: translateY(-12px) rotate(-45deg);
    -ms-transform: translateY(-12px) rotate(-45deg);
    transform: translateY(-12px) rotate(-45deg);
}

.toggle.dark > div > div {
    background-color: #15181C;
}

.toggle.ligth > div > div {
    background-color: #ffffff;
}



.onmain .phone a:hover .st0 {
    fill: #F4D458;
}
.full-content {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}
.category {
    background: #f5f5f5;
    overflow: hidden;
    padding: 20px 0 0;
}
.category ul {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    padding-left: 60px;
    list-style: none;
    text-align: center;
}
.category li {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 20px;
}
.category li a {
    font-size: 16px;
    color: #575757;
    font-weight: 400;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 2px 10px;
    outline: none;
    line-height: 1em;
}
.category li.active a {
    border: 1px solid #ffd54d;
    background: #ffd54d;
    padding: 5px 15px;
    border-radius: 15px;
    line-height: 1em;
    color: #393d4c;
    font-weight: 500;
}
#blog_section,
.standart {
    margin: 50px 0;
}
#result .btn-more {
    width: 250px;
    margin: 30px auto;
    clear: both;
}
#result .btn-more a {
    text-decoration: none;
    font-weight: 500;
    line-height: 60px;
    border: 2px solid #ffd54d;
    border-radius: 40px;
    font-size: 16px;
    color: #393d4c;
    height: 60px;
    text-align: center;
    background: #ffd54d;
    display: block;
}
.btn-more a:hover {
    background: transparent;
    border-color: #ffd54d;
}
.blog-item {
    margin-bottom: 30px;
}
body {
    background: #fff;
}
.pagination {
    display: none;

}
.full-content .col-9 {
    width: 75%;
    float: left;
}
.full-content .col-9 .content {
    padding-right: 100px;
}
.full-content .col-9 .content .tag {
    color: #c8c8c8;
    font-size: 16px;
}
.full-content .col-9 .content {
    font-size: 17px;
    color: #393d4c;
    font-weight: 400;
    line-height: 1.5em;
}
.full-content .col-9 .content h1 {
    font-size: 42px;
    color: #393d4c;
    font-weight: 300;
    margin-bottom: 50px;
    line-height: 1.2em;
}
.full-content .col-9 .content h2 {
    font-size: 24px;
    color: #ffd54d;
    font-weight: 300;
    margin-bottom: 40px;
    line-height: 1.2em;
}

.full-content .col-9 .content h3 {
    font-size: 20px;
    color: #ffd54d;
    font-weight: 300;
    margin-bottom: 20px;
    margin-top: 40px;
    line-height: 1.2em;
}
.full-content span.sisea-highlight {
    background: #ffd54d;
    color: #fff;
    padding: 0 5px;
}
.full-content .col-9 .content h3 a {
    text-decoration: none;
    color: #ffd54d;
}

.full-content .col-9 .content h4 {
    font-size: 18px;
    color: #ffd54d;
    font-weight: 300;
    margin-bottom: 40px;
    line-height: 1.2em;
}
.full-content .col-9 .content p {
    margin-bottom: 10px;
}
.sidebar {
    height: 100%;
    background: #f5f5f5;
    width: 25%;
    float: left;
    padding: 30px 15px;
}
.sidebar .category {
    margin-bottom: 40px;
}
.sidebar .category ul {
    margin: 0;
    width: 100%;
    padding-left: 20px;
    text-align: left;
}
.sidebar .category ul li {
    clear: both;
    width: 100%;
    margin-bottom: 10px;
}
.social {
    margin-top: 50px;
}
.full-content .col-9 .content .social h3 {
    color: #c8c8c8;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.full-content .col-9 .content .social ul {
    padding-left: 0;
}
.full-content .col-9 .content .social li:before {
    content: none;
}
.article .head h2 {
    font-size: 18px;
    color: #c8c8c8;
    text-transform: uppercase;
    font-weight: 400;
    padding-left: 20px;
    margin-bottom: 30px;
}
.article .item {
    margin-bottom: 30px;
}
.article .item .img {
    padding-left: 15px;
    min-height: 126px;
}
.article .item .h3 {
    padding-left: 20px;
    margin-top: 10px;
}
.article .item .h3 p {
    color: #575757;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}
.full-content .col-9 .content ul {
    padding-left: 20px;
}
.full-content .col-9 .content li {
    list-style: none;
    position: relative;
}
.full-content .col-9 .content li:before {
    content: '';
    background: #ffd54d;
    width: 3px;
    height: 3px;
    position: absolute;
    left: -10px;
    margin-right: 10px;
    top: 12px;
}
#result {
    padding: 30px 0;
}



::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
    font-size: 14px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
    font-size: 14px;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
    font-size: 14px;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #fff;
    font-size: 14px;
}
.open-search {
    color: #fff;
    position: absolute;
    right: 70px;
    top: 0;
    line-height: 50px;
    z-index: 2;
    width: 30px;
}

#blog_section .overflow-helper {
    background: #f5f5f5;
}
#blog_section .row {
    margin-right: -30px;
}
#blog_section .row .col-3 {
    width: 33.333333333%;
    float: left;
    padding-right: 30px;
}
#blog_section .row .blog-item {
    text-align: left;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}
#blog_section .row .blog-item:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 0 0 50px rgba(0, 0, 0, 0.28);
}
#blog_section .row .blog-item .img-block {
    overflow: hidden;
    width: 100%;
}
#blog_section .row .blog-item .img-block img {
    width: 100%;
    height: auto;
    min-height: 180px;
}
#blog_section .row .blog-item .tags {
    margin: 20px 30px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #c8c8c8;
}
#blog_section .row .blog-item h3 {
    margin: 20px 30px 5px;
    font-weight: 400;
    font-size: 24px;
    color: #393d4c;
}
#blog_section .row .blog-item h3 a {
    text-decoration: none;
    color: #ffd54d;
    font-size: 23px;
    font-weight: 300;
}
#blog_section .row .blog-item .descr {
    color: #393d4c;
    font-size: 16px;
    font-weight: 400;
    margin: 0 30px;
    line-height: 1.4em;
    height: 86px;
    overflow: hidden;
}
#blog_section .row .blog-item .more {
    font-size: 16px;
    color: #ddd;
    margin: 20px 30px 40px;
    display: block;
    text-decoration: none;
    font-weight: 400;
}
#blog_section .row .blog-item .more:hover {
    color: #ffd54d;
}
#blog_section .btn-wrapper {
    clear: both;
    margin: 20px 0 0;
    width: 100%;
}
#blog_section .btn-wrapper .btn-red {
    background: transparent;
    border: 2px solid #ffd54d;
    color: #ffd54d;
    font-size: 16px;
    height: 60px;
    line-height: 60px;
    width: 200px;
}
#blog_section .btn-wrapper .btn-red:hover {
    background: #ffd54d;
    color: #fff;
}
#blog_section .top-menu {
    margin-top: 65px;
}
#footer_section {
    background: #393d4c;
}
#footer_section .row {
    margin-right: -30px;
}
#footer_section .row .col-3 {
    width: 33.333333333%;
    float: left;
    text-align: left;
    padding-right: 30px;
}
#footer_section .row .col-3 .head {
    height: 45px;
}
#footer_section .row .col-3 .head h4 {
    color: #c8c8c8;
    text-transform: uppercase;
    font-size: 15px;
    margin: 0;
}
#footer_section .row .col-3 .dinline {
    margin-top: 25px;
}
#footer_section .row .col-3 .dinline .item {
    padding-right: 20px;
    width: 45%;
    display: inline-block;
    vertical-align: middle;
}
#footer_section .row .col-3 .nav-footer-menu ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
#footer_section .row .col-3 .nav-footer-menu ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
}
#footer_section .row .col-3 .nav-footer-menu ul li a:hover {
    color: #ffd54d;
}
#footer_section .row .col-3 .social {
    margin-top: 30px;
}
#footer_section .row .col-3 .social .facebook,
#footer_section .row .col-3 .social .vk {
    color: #f0f0f0;
    font-size: 20px;
    width: 34px;
    background: #c8c8c8;
    height: 34px;
    display: inline-block;
    text-align: center;
    line-height: 34px;
    border-radius: 3px;
    vertical-align: top;
    margin-top: 6px;
}
#footer_section .row .col-3 .social .facebook:hover,
#footer_section .row .col-3 .social .vk:hover {
    background: #52759c;
}
#footer_section .row .col-3 .social .facebook {
    margin-right: 50px;
}
#footer_section .row .col-3 .social .facebook:hover {
    background: #3b5998;
}
#footer_section .row .col-3 .copyright {
    font-size: 12px;
    color: #fff;
    margin-top: 10px;
}
.pr20 {
    padding-right: 20px;
}
.menu {
    display: none;
    height: 100%;
    width: 100%;
    background: #ddd;
    background: url(../img/bg.png) 50% 50% no-repeat;
    background-size: cover;
    z-index: 101;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.menu ul {
    list-style: none;
    padding-left: 0;
    margin: 50px 0;
}
.menu ul li {
    margin-bottom: 14px;
}
.menu ul li a {
    font-size: 20px;
}
.menu ul li a:hover {
    text-decoration: none;
    color: #ffd54d;
}
select#tab_select {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #ddd;
    background: #fafafa;
    height: 40px;
    padding: 0 30px 0 20px;
    font-size: 19px;
    font-weight: 300;
}
.mobile-only {
    display: none;
}